$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.burger-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #000000, $alpha: 0.6);
	justify-content: flex-end;

	&__content {
		height: 100%;
		width: 45%;
		background-color: var(--dark);
		border-left: 3px solid var(--add);
		padding: 50px 10px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 35px;
	}

	&__heading {
		font-size: 2em;
		font-family: "Peralta", serif;
		color: transparent;
		background: $gradient;
		background-clip: text;
		text-align: center;
		line-height: 0.85;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 15px;

		button {
			color: var(--light);
			font-size: 1.1em;
			transition: 0.35s all;
			position: relative;

			&.active {
				opacity: 1 !important;
			}

			&::after {
				content: "";
				height: 2px;
				width: 100%;
				background: $gradient;
				position: absolute;
				bottom: -2px;
				left: 0;
				opacity: 0;
				transition: opacity 0.15s;
			}

			&.active::after {
				opacity: 1;
			}

			&:hover {
				color: var(--mint);
			}

			&:active {
				opacity: 0.8;
			}
		}
	}
}

/* -- Adaptive -- */

@media (max-width: 425px) {
	.burger-menu__content {
		width: 65%;
	}
}

@media (max-width: 375px) {
	.burger-menu__content {
		width: 75%;
	}
}
