$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.cart-card {
	width: 320px;
	height: 320px;
	background-color: var(--add);
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.6);

	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 50%;
		background: $gradient;
		transform: skewY(360deg);

		position: absolute;
		transition: 0.35s all;
	}

	&__img {
		position: relative;
		margin: 20px 25px 25px;
		height: 130px;
		transition: 0.35s all;
	}

	&__heading {
		position: relative;
		margin-bottom: 10px;
		font-weight: 700;
	}

	&__price {
		position: relative;
		font-size: 24px;
		margin-bottom: 15px;
		color: var(--mint);
	}

	&__currency {
		font-size: 18px;
		color: var(--light);
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}
