$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.product-card {
	width: 320px;
	height: 320px;
	background-color: var(--add);
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.6);

	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: $gradient;
		transform: skewY(345deg);

		position: absolute;
		top: -50%;
		transition: 0.35s all;
	}

	&:hover {
		.product-card__img {
			height: 120px;
			margin-top: 30px;
		}

		.product-card__button {
			transform: none;
		}
	}

	&:hover::before {
		transform: skewY(360deg);
	}

	&__discount {
		position: absolute;
		top: 20px;
		left: 20px;
		background-color: var(--add);
		padding: 5px 10px;
		border-radius: 25px;
		font-family: var(--header-font);
		opacity: 0;

		&.--show {
			opacity: 1;
		}
	}

	&__img {
		position: relative;
		margin: 60px 0 25px;
		width: auto;
		height: 145px;
		transition: 0.35s all;
	}

	&__heading {
		position: relative;
		margin-bottom: 10px;
		font-weight: 700;
	}

	&__price {
		position: relative;
		font-size: 24px;
		margin-bottom: 15px;
		color: var(--mint);
	}

	&__currency {
		font-size: 18px;
		color: var(--light);
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__button {
		font-family: var(--header-font);
		color: var(--light);
		text-transform: inherit;
		padding: 10px 20px;
		background: $gradient;
		border-radius: 30px;
		transform: translateY(50%);
		transition: all 0.2s;

		&:hover {
			filter: drop-shadow(0 0 10px var(--mint));
		}

		&:active {
			opacity: 0.8;
			transform: translateY(1px) !important;
		}

		&:last-child {
			position: absolute;
			right: 20px;
			padding: 10px 16px;
		}

		span {
			display: inline-block;
			transition: transform 0.2s;
		}

		&.in-cart {
			span {
				transform: rotateZ(45deg) translateY(-1px);
			}
		}
	}
}
