$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.about {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	&__heading {
		font-size: 1.92em;
		color: var(--dark);
		font-family: var(--header-font);
		text-align: center;
		margin-bottom: 5px;
	}

	a {
		color: #f1c40f;
		text-decoration: underline;
		text-shadow: 0 0 10px #f1c40f;
	}

	p {
		color: var(--dark);
		font-size: 1.2em;
		text-align: center;
	}

	.name {
		background: $gradient;
		background-clip: text;
		color: transparent;
	}
}
