$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.cart {
	&__h2 {
		font-size: 1.92em;
		font-family: var(--header-font);
		color: var(--dark);
		text-align: center;
		margin-bottom: 15px;
	}

	&__cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 50px;

		.container {
			width: 100%;
			height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			row-gap: 25px;
		}
	}

	.whole-price {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		margin-top: 50px;

		&__total,
		&__discount {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: var(--add);
			font-size: 1.4em;
			font-family: var(--header-font);
			border: 3px dashed var(--dark);
			border-radius: 10px;
			padding: 10px;

			.percents {
				font-family: var(--main-font);
				font-weight: 700;
				color: var(--mint);
			}

			.currency {
				font-family: var(--main-font);
				font-weight: 700;
				color: var(--violet);

				.old {
					text-decoration: line-through;
					filter: grayscale(0.6);
					opacity: 0.6;
				}

				i {
					font-size: 0.75em;
					font-style: normal;
					font-weight: 500;
					color: var(--add);
					text-transform: uppercase;
				}
			}
		}
	}

	&__h3 {
		font-size: 1.85em;
		color: var(--add);
		font-family: var(--header-font);
	}

	&__btn {
		display: inline-block;
		background: $gradient;
		padding: 15px 25px;
		border-radius: 15px;
		color: var(--add);
		font-family: var(--header-font);
		font-size: 1.35em;
		transition: all 0.35s;

		&:hover {
			filter: drop-shadow(0 0 10px var(--mint));
		}

		&:active {
			transform: translateY(1px);
			opacity: 0.8;
		}
	}
}
