$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.landing {
	position: relative;
	width: 100%;
	height: calc(100vh - 86px);
	background-image: url("/landing_image.jpg");
	background-size: cover;
	background-position: center center;
	backdrop-filter: blur(20px);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.wrapper {
		max-width: 50%;
		padding: 35px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 3;
	}

	&__h1 {
		font-family: "Peralta", serif;
		font-size: 2.8em;
		text-align: center;
		background: $gradient;
		color: transparent;
		background-clip: text;
		line-height: 80%;
		z-index: 4;
	}

	&__p {
		font-size: 20px;
		margin: 25px 0 50px;
		text-align: center;
		z-index: 4;
	}
}

marquee {
	width: 100%;
	padding: 15px 0;
	background: linear-gradient(45deg, var(--mint) 20%, var(--violet));
	font-family: var(--header-font);
	font-size: 1.8em;
	color: var(--add);
}

.sales {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;

	&__h2 {
		font-size: 1.92em;
		color: var(--dark);
		font-family: var(--header-font);
		text-align: center;
		margin-top: 20px;
		position: relative;

		&::before {
			content: "✨";
			font-size: 0.6em;
			position: absolute;
			bottom: -5%;
			left: -30%;
			transform: rotate(180deg);
		}

		&::after {
			content: "✨";
			position: absolute;
			font-size: 0.6em;
			top: -5%;
			right: -28%;
		}
	}

	.cards {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 50px;
		flex-wrap: wrap;
	}
}
