$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.not-found {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	color: var(--dark);

	&.wrapper {
		margin: 50px auto;
	}

	h2 {
		font-size: 3em;
		font-family: var(--header-font);
	}

	h3 {
		font-size: 1.8em;
	}

	a {
		display: inline-block;
		font-size: 1.35em;
		padding: 15px 25px;
		background: $gradient;
		color: var(--light);
		border-radius: 15px;
		transition: all 0.35s;

		&:hover {
			filter: drop-shadow(0 0 10px var(--mint));
		}

		&:active {
			transform: translateY(1px);
			opacity: 0.8;
		}
	}
}
