$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

.product {
	&__card {
		height: 100%;
		padding: 5px;
		margin: 15px 0;
		background: $gradient;
		border-radius: 20px;
		box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.6);

		&-content {
			background-color: var(--dark);
			border-radius: 18px;
			padding: 25px;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}

	&__title {
		font-size: 2em;
		text-transform: uppercase;
		font-family: var(--header-font);
		background: $gradient;
		background-clip: text;
		color: transparent;
		margin-bottom: 5px;
	}

	&__image {
		height: 180px;
	}

	&__price {
		color: var(--mint);
		margin-top: 20px;
		font-size: 1.55em;
	}

	&__currency {
		color: var(--light);
		font-size: 0.85em;
	}

	&__back-btn {
		display: inline-block;
		font-size: 1.35em;
		padding: 10px 20px 6px 16px;
		border-radius: 10px;
		border: 3px solid var(--mint);
		color: var(--mint);
		transition: all 0.35s;

		svg {
			width: 40px;
			height: 35px;
		}

		&:hover {
			background: var(--mint);
			border-color: var(--mint);
			color: var(--light);

			svg {
				fill: var(--light);
			}
		}

		&:active {
			opacity: 0.8;
			transform: translateY(1px);
		}
	}

	&__cart-btn {
		font-size: 0.75em;
		background: $gradient;
		padding: 10px 25px;
		border-radius: 15px;
		color: var(--light);
		margin-right: 20px;
		transition: all 0.35s;
		text-transform: uppercase;
		font-family: var(--header-font);

		&:hover {
			filter: drop-shadow(0 0 8px var(--mint));
		}

		&:active {
			opacity: 0.8;
			transform: translateY(1px);
		}
	}

	&__heading {
		margin: 35px 0 20px;
		font-family: var(--header-font);
		font-size: 1.8em;
		color: var(--dark);
	}

	&__recommended {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 35px;
	}
}
