.products {
	&__heading {
		font-size: 1.92em;
		color: var(--dark);
		font-family: var(--header-font);
		text-align: center;
		margin-bottom: 15px;

		span {
			position: relative;

			&::before {
				content: "👑";
				position: absolute;
				top: -52%;
				left: 58%;
				font-size: 0.85em;
			}
		}
	}

	&__best {
		margin-bottom: 50px;
	}

	&__best,
	&__all {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 50px;
		flex-wrap: wrap;
	}
}
