:root {
	--dark: #0b132b;
	--light: #fafafa;
	--add: #1c2541;
	--mint: #5bc0be;
	--violet: #a17fe0;

	--main-color: var(--dark);
	--font-color: var(--light);
	--accent-color: var(--mint);

	--main-font: "Work Sans", sans-serif;
	--header-font: "Quicksand", sans-serif;
}

.card {
	width: 320px;
	height: 320px;
	background-color: var(--add);
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

	position: relative;
	overflow: hidden;
}

.card::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, var(--accent-color) 20%, var(--violet));
	transform: skewY(345deg);

	position: absolute;
	top: -50%;
	transition: 0.35s all;
}

.card:hover::before {
	transform: skewY(360deg);
	top: -50%;
}

.card__img {
	position: relative;
	margin: 60px 0 25px;
	width: auto;
	height: 145px;
	transition: 0.35s all;
}

.card:hover .card__img {
	height: 100px;
	margin-top: 45px;
}

.card__header {
	position: relative;
	margin-bottom: 10px;
	font-weight: 700;
}

.card__price {
	position: relative;
	font-size: 24px;
	margin-bottom: 15px;
}

.card__currency {
	font-size: 18px;
}

.card__button {
	font-family: var(--header-font);
	color: var(--dark);
	text-transform: inherit;
	padding: 10px 25px;
	background: linear-gradient(45deg, var(--accent-color) 20%, var(--violet));
	border-radius: 30px;
	transform: translateY(50%);
	transition: all 0.2s;
}

.card:hover .card__button {
	transform: none;
}

.card__button:hover {
	filter: drop-shadow(0 0 10px var(--accent-color));
}

.card__button:active {
	opacity: 0.8;
	transform: translateY(1px) !important;
}
