/* -- Preparing for styling -- */

/* - Imports - */

/* Reset styles */
@import url("./reset.css");

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Peralta&family=Quicksand:wght@700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* - Variables - */
:root {
	--dark: #0b132b;
	--light: #fafafa;
	--add: #1c2541;
	--accent-color: #5bc0be;

	--main-color: var(--dark);
	--font-color: var(--light);

	--main-font: "Work Sans", sans-serif;
	--header-font: "Quicksand", sans-serif;
}

/* -- Styling -- */
