/* -- Preparing for styling -- */

/* - Imports - */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Peralta&family=Quicksand:wght@700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./reset.css");
@import "components/product-card";
@import "components/cart-card";
@import "pages/home";
@import "pages/products";
@import "pages/product";
@import "pages/cart";
@import "pages/about";
@import "pages/not-found";

/* - Variables - */
:root {
	--dark: #0b132b;
	--light: #fafafa;
	--add: #1c2541;
	--mint: #5bc0be;
	--violet: #a17fe0;

	--main-font: "Work Sans", sans-serif;
	--header-font: "Quicksand", sans-serif;
}

$gradient: linear-gradient(45deg, var(--mint) 20%, var(--violet));

/* -- Styling -- */

/* - General - */
html {
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: var(--main-font);
	background-color: var(--light);
	color: var(--light);
	font-size: 18px;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

h1 {
	font-size: 2.25em;
}

nav {
	a {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 2px;
			background: linear-gradient(90deg, var(--mint), var(--violet));
			opacity: 0;
			transition: opacity 0.15s;
		}

		&.active {
			opacity: 1 !important;

			&::after {
				opacity: 1;
			}
		}
	}
}

/* Navbar */
.header-nav,
.footer-nav {
	display: flex;
	align-items: center;
	column-gap: 20px;

	a {
		color: var(--light);
		transition: all 0.25s;

		&:hover {
			color: var(--mint);
		}

		&:active {
			opacity: 0.6;
		}
	}
}

/* - Header - */

.header {
	width: 100%;
	background-color: var(--dark);
	padding: 15px 50px;
	border-bottom: 3px solid var(--add);

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/* Logo */
.logo {
	font-family: "Peralta", serif;
	background: $gradient;
	background-clip: text;
	color: transparent;
	transition: all 0.35s;

	&:hover {
		filter: drop-shadow(0 0 8px var(--mint));
	}

	a {
		color: transparent;
	}
}

/* Navbar */
.header-nav {
	a {
		&:last-child {
			background: $gradient;
			padding: 5px 8px;
			border-radius: 50%;
			margin-left: 20px;
			display: inline-block;

			&:hover {
				filter: drop-shadow(0 0 8px var(--mint));
			}

			&:active {
				transform: translateY(1px);
			}

			&::after {
				display: none;
			}

			svg {
				width: 42px;
				height: 42px;
			}
		}
	}
}

/* - Main - */
.main {
	width: 100%;
	min-height: calc(100vh - 88px);
	padding-bottom: 50px;
}

/* - Footer - */
.footer {
	width: 100%;
	background-color: var(--dark);
	padding: 75px 50px 50px;
	border-top: 3px solid var(--add);

	.wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		row-gap: 20px;
	}
}

.socials {
	display: flex;
	align-items: center;
	column-gap: 20px;

	a {
		display: inline-block;
		transition: all 0.2s;

		&:hover {
			svg {
				fill: var(--mint);
			}
		}

		&:active {
			opacity: 0.7;
			transform: translateY(1px);
		}
	}

	svg {
		width: 70px;
		height: 70px;
		margin: 5px;
		fill: var(--light);
		transition: all 0.2s;
	}

	li:first-child {
		svg {
			width: 80px;
			height: 80px;
			margin: 0;
		}
	}
}
